body {
  margin: 0;
  font-family: 'Recursive', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --primary: #00A7AE;
  --secondary: #14225A;
  --bodyFontSize: 16px;
  --bodyLineHeight: 22px;
  --lightGrey: #999999;
  --grey: #666666;
  --black: #222222;
}